body {
  font-family: Courier New;
  font-size: 2rem;
  box-sizing: border-box;
  margin: 1rem;
} 

input, button {
  padding: 5px;
  margin: 5px;
  font-family: Courier New;
  font-size: 1rem;
}

.thumbs-up {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.thumbs-up.completed {
  opacity: 1;
  transition: opacity 1s ease;
}

h3, h4 {
  margin: 0;
  font-weight: 700;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-5 {
  margin-left: 5px;
}

.sneakerizer {
  text-decoration: none;
  box-shadow: inset 0 -3px 0 black;
	padding-bottom: -3px;
}